.idea/
._.DS_Store
.DS_Store
.DS_Store/
library/tcpdf/cache/**
!library/tcpdf/cache/.gitkeep
.env
/data/files/**
!/data/files/*/
!/data/files/*/.gitkeep
!/data/files/1/*/
!/data/files/1/*/.gitkeep
!/data/files/backups/*/*
!/data/files/backups/*/.gitkeep
!/data/files/ricevutesdi/*/
!/data/files/1/ricevutesdi/*/.gitkeep
!/data/files/1/tmp/*/.gitkeep
info.php
.well-known/
vendor/
