/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
            STRUTTURA E FONTS
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
  padding: 0;
  margin: 0 0 0 25px;
  color: #444444;
  font-size: 15px;
  position: relative;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > p {
    color: #999999;
    font-size: 12px;
    margin: 0 0 0 25px;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu, .navbar-nav > .messages-menu > .dropdown-menu > li .menu, .navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
    max-height: 500px;
}

.content-wrapper {
    min-width: 500px;
}

.Tlarge {
    margin-left: 20px;
    width: 99%;
    padding-right: 20px;
}

table {
    border-collapse: separate;
    border-spacing: 2px;
}
