/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
            STRUTTURA E FONTS
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
  padding: 0;
  margin: 0 0 0 25px;
  color: #444444;
  font-size: 15px;
  position: relative;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > p {
    color: #999999;
    font-size: 12px;
    margin: 0 0 0 25px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu, .navbar-nav > .messages-menu > .dropdown-menu > li .menu, .navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
    max-height: 500px;
}
.navbar-static-top {
	border-bottom: 1px solid #000 !important;
}
.content-wrapper {
    min-width: 300px;
}
.content {
	padding-left: 1px;
	padding-right: 1px;
}
.admin_footer {
    margin-top: 30px;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.admin_footer:hover {
    margin-top: 30px;
	opacity: 1;
	filter: alpha(opacity=100);
}

.form-control {

}
.img-circle.dit-picture,.text-center>a>.img-circle{
	border-radius: 10px;
}
.usr-picture {
    width: 200px;
	/*max-width: 200px;*/
}
.btn {
	white-space: unset;
}
.btn-50 {
    width: 50px;
}
.btn-100 {
    text-align: right;
    padding-right: 15px;
    width: 100px;
}
.glyphicon-edit {
    padding-right: 5px;
}
.right {
    text-align: right;
    margin-right: 1em;
}
.btn-200 {
    width: 200px;
}
.btn-full {
    width: 100%;
}
.col-md-12 {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #f4f4f4;
}

.FacetFieldCaptionTD
{
    padding: 5px 5px 5px 5px;
}
.FacetDataTD input,select,textarea,select[class^='col-'] {
	padding-left: unset;
	margin-left: 0px;
}

.form-group input {
	padding-left: 10px;
}

.tab-content{
    background-color:#fff;
    /*color:#fff;*/
    padding: 15px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.nav-tabs > li > a{
    border: medium none;
}
.nav-tabs > li > a:hover{
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.table {
    margin-bottom: 5px;
}
table.Tmiddle,table.Tsmall {
	border : solid 1px;
	margin-left: auto;
	margin-right: auto;
}
table.Tmiddle tr>td, table.Tsmall tr>td {
	padding : 5px;
}

@media only screen and (min-width: 990px) {
	table.Tmiddle {
		max-width : 70%;
	}
	table.Tsmall {
		max-width : 50%;
	}
}
#products-list
{
    border-top: 0px solid;
}
.main-header {
    border-collapse: separate;
    /*border: 1px solid;*/
}

.logo {

}
.panel {
	-webkit-box-shadow: 2px 1px 1px rgba(1,1,1,.5);
	box-shadow: 2px 1px 1px rgba(1,1,1,.5);
}
.panel-company {
    min-height: 200px;
	width: 100%;
}
.navbar-static-bottom {
	border-bottom: 1px solid #000;
}
.panel-user {
    min-height: 200px;
	width: 100%;
}
.sidebar-menu .treeview-menu > li > a {
    padding: 5px 5px 5px 5px;
}

/* il titolo sopra al header della tabella*/
.FacetFormHeaderFont {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-top: 8px;
}
.control-sidebar-menu .menu-info {
    margin-left: 0px;
}
.control-sidebar-menu > li > a {
    padding: 2px 15px;
}
.gaz-home-scadenze {
    min-height: 260px;
}
#fornitori span {
    display:none;
}
#clienti span {
    display:none;
}
@media only screen and (max-width: 991px) {
    /* Force table to not be like tables anymore */
    #gaz-responsive-table table,
    #gaz-responsive-table thead,
    #gaz-responsive-table tbody,
    #gaz-responsive-table th,
    #gaz-responsive-table td,
    #gaz-responsive-table tr {
        display: block;
    }
    #gaz-responsive-table table{
        padding: 2px;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    #gaz-responsive-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #gaz-responsive-table tr { border: 1px solid #ccc; }

    #gaz-responsive-table td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    #gaz-responsive-table td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    #gaz-responsive-table td:before { content: attr(data-title); }

    .gaz-table-form .form-group {
        background-color: rgba(0, 0, 0, 0.04);
    }
}

/*    --------------------------------------------------
        :: Login Section
        -------------------------------------------------- */

.panel-title {
    vertical-align: middle;
}
.panel-info {
    border-color: #88c086;
    margin: auto;
}
.panel-info > .panel-gazie {
    border-color: #88c086;
}
.btn-100 {
    width: 100px;
}
.panel-info > .panel-heading {
	background-color: #aae2a8 !important;
	border-color: #88c086;
	color: #123311;
}
#formlogin {
    padding-top: 50px
}
#formlogin .form-wrap {
    margin: 0 auto;
    float: right;
}
.form-logo {
    float: left;
}
.form-main {
    margin: 10px 30%;
    background-color: #77b075;
    border: 1px solid #000;
}
#formlogin h1 {
    color: #1fa67b;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#formlogin .form-group {
    margin-bottom: 25px;
}
#formlogin .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#formlogin .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#formlogin .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#formlogin .checkbox .label {
    color: #6d6d6d;
    font-size: 100%;
    font-weight: normal;
}
#formlogin .btn.btn-custom {
    font-size: 100%;
    margin-bottom: 20px;
}
#formlogin .forget {
    font-size: 100%;
    text-align: center;
    display: block;
}

#banapp {
	max-width: 200px;
}

#expense_vat {
	max-width: 200px;
}

#in_codvat {
	max-width: 200px;
}

.table-responsive {
	min-height: .01%;
}

.box-body {
    padding: 0px;
}

/* la tabella responsive deve avere un po si margine destro e sinistro*/
.table-responsive {
    width: 98%;
    margin: auto;
}

.ui-sortable-handle{
	padding: 2px;
}

/* l'altezza dei pannelli in dashboard deve essere uguale per tutti*/
[id^=position-] .panel {
    min-height: 310px;
}

/* aggiungo un po di spazio tra i pannelli della dash*/
[id^=position-] {
    padding: 10px 10px 10px 10px;
}

.panel-default  {
    margin: auto;
}
.content-header > h1 {
	padding-top: 30px;
}
.content-header > .breadcrumb {
    float: left;
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 11px;
    padding: 4px 0px 4px 15px;
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #000 !important;
    border-radius: 0px;
}
.breadcrumb li {
    margin: 1px 0;
}
.ui-dialog-titlebar-close {
    visibility: hidden;
}
.tooltip-inner {
    min-width: 150px;
    max-width: 100%;
}
.tab-content > .tab-pane > div.row:nth-of-type(2n+1) {
	background-color: #f9f9f9;
}
form table.GazFormDeleteTable {
  margin: auto;
  width: 400px;
}
html body form section.content form.form-horizontal{
  padding-top: 12px;
}
table.xdebug-error{
  z-index: 2000;
  position: relative;
}
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
#loginbox div.panel.panel-info {
  box-shadow: 0 30px 60px 0 rgba(0,0,0,.3);
}

.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu > li.header {
	padding-top: 10px;
}

.sidebar-menu > li {
	margin-top: -5px;
	margin-bottom: -5px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar-nav > li > a {
	padding-top: 3px;
	padding-bottom: 3px;
}
