body {
    background-image : url("../../../../library/images/sfondo.png");
}

.FacetFieldCaptionTD {
    background-color: #3c8dbc;
    color: #000;
}

th a {
    color: #000;
}

th a:hover {
    color: #eee;
}