body {
	background-color: #fff;
	color: #000;
	font-family: 'Roboto', sans-serif;
}
.help {
    margin-bottom: 20px;
}
.contenuto-help {
   background-color: #fff;
}
.control-label {
   /*background-color: #c4c7ca;*/
}
.dropdown-menu {
    border-color: #000;
}
.FacetFieldCaptionTD {
    background-color: #c4c7ca;
    color: #000;
}
th {
    background-color : #c4c7ca;
}
th a {
    color: #000;
}
th a:hover {
    color: #eee;
}
.FacetColumnTD {
    background-color: #daeada;
    color: #000;
}
.content-wrapper {
  background-image: url("../images/sfondo.png");
	background-color: #f3f5f9;
}
.logo-lg {
    font-size: 14px;
}
.FacetFormTABLE,table.Tmiddle,table.Tsmall {
	background-color: #ebf2f49e;
}
#preventDuplicate {
    color: #000;
}
.sidebar-menu .treeview-menu > li > a {
    padding-left: 15px;
}
div.th {
	background: #c4c7ca;
	border: 1px solid #000;
	border-bottom: 0px;
}
.left {
	border-right: 0px;
}
.right {
	border-left: 0px;
}
.lateral {
    background-color: #000;
}
.FacetDataTDred
{
  color: #f00;
  font-weight: bold;
  background-color: #c4c7ca;
  margin-bottom: 10px;
}

html body.skin-blue.sidebar-mini.sidebar-collapse form div.wrapper header.main-header nav.navbar.navbar-static-top div.navbar-custom-menu ul.nav.navbar-nav li.dropdown.user.user-menu.open ul.dropdown-menu li.user-footer div.pull-right input.btn.btn-default.btn-flat {
    height: 34px;
    width: 65px;
}
.row.alternate-row-odd{
  background-color: #eeeeee;
}
.row.alternate-row-even{
  background-color: #cccccc;
}

.btn-effetti {
    background-color: #D4CB6A;
    color : #000;
}
.gaz-attivo {
  background-color: #E3F5FF;
}
.gaz-passivo {
  background-color: #FFF6EF;
}
.gaz-costi {
  background-color: #FDD;
}
.gaz-ricavi {
  background-color: #EEFDED;
}
.gaz-transitori {
  background-color: #F4D5FF;
}
td.ui-datepicker-other-month>a.ui-state-default.ui-priority-secondary{
	color: #034802;
	background: #ccccff;
}
.blink {
    color: #f00;
    font-weight: bold;
    animation: blink 0.5s infinite;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
	background-color: #a1a29f;
}
.btn-elimina {
    color: #ff3939;
}
.btn-edit {
	background-color: #449d44;
	color: #FFFFFF;
	box-shadow: 1px 1px 1px 1px gray;
}
.panel-default {
  background-color: #e7ece7;
}
.input-area {
  background-color: #b9c6db;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
	background-color: #4f4e4e;
}
.control-sidebar-dark .control-sidebar-heading, .control-sidebar-dark .control-sidebar-subheading {
	color: #3c3eae;
}
.control-sidebar-dark, .control-sidebar-dark .control-sidebar-menu > li > a .menu-info > p {
	color: #9d5305;
}
.content-header > .breadcrumb {
	background-color: #b7b9b9;
}
.Tlarge.table-bordered {
	border: 2px solid #bbbbbb;
  box-shadow: 1px 1px 1px rgba(1,1,1,.5);
}
