body {
	background-color: #fff;
	color: #000;
	font-family: 'Roboto', sans-serif;
}
.help {
    margin-bottom: 20px;
}
.contenuto-help {
   background-color: #fff;
}
.control-label {
   /*background-color: #c4c7ca;*/
}
.dropdown-menu {
    border-color: #000;
}
.FacetFieldCaptionTD {
    background-color: #c4c7ca;
    color: #000;
}
th {
    background-color : #c4c7ca;
}
th a {
    color: #000;
}
th a:hover {
    color: #eee;
}
.FacetColumnTD {
    background-color: #daeada;
    color: #000;
}

.content-wrapper {
  background-image: url("../images/sfondo.png");
	background-color: #f3f5f9;
}


.Tmiddle {
    border: 1px solid #000000;
}
.table {

}
#products-list
{
}
.main-header {
    /*border: 1px solid #000000;*/
}
.logo {
    /*border-right: 1px solid #000000;*/
}
.logo-lg {
    font-size: 14px;
}
.FacetFormTABLE {
    border: 1px solid #000000;
}
.FacetFormHeaderFont {
}
#preventDuplicate {
    color: #000;
}
.sidebar-menu .treeview-menu > li > a {
    padding-left: 15px;
}
div.th {
	background: #c4c7ca;
	border: 1px solid #000;
	border-bottom: 0px;
}
.left {
	border-right: 0px;
}
.right {
	border-left: 0px;
}
.lateral {
    background-color: #000;
}
.FacetDataTDred
{
  color: #f00;
  font-weight: bold;
  background-color: #c4c7ca;
  margin-bottom: 10px;
}

html body.skin-blue.sidebar-mini.sidebar-collapse form div.wrapper header.main-header nav.navbar.navbar-static-top div.navbar-custom-menu ul.nav.navbar-nav li.dropdown.user.user-menu.open ul.dropdown-menu li.user-footer div.pull-right input.btn.btn-default.btn-flat {
    height: 34px;
    width: 65px;
}
.row.alternate-row-odd{
  background-color: #eeeeee;
}
.row.alternate-row-even{
  background-color: #cccccc;
}

.btn-effetti {
    background-color: #D4CB6A;
    color : #000;
}
.gaz-attivo {
    background-color: #88D6FF;
}
.gaz-passivo {
    background-color: #D6FF88;
}
.gaz-costi {
    background-color: #D688FF;
}
.gaz-ricavi {
    background-color: #FFD688;
}
.gaz-transitori {
    background-color: #FF88D6;
}
td.ui-datepicker-other-month>a.ui-state-default.ui-priority-secondary{
	color: #034802;
	background: #ccccff;
}
.blink {
    color: #f00;
    font-weight: bold;
    animation: blink 0.5s infinite;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
	background-color: #a1a29f;
}
