body {
	background-image : url("../../../../../library/images/sfondo.png");
}
div, table, th, tr, td, ul, ol, li, p, font, a, blockquote, label {
	color : #000000;
}
table {
}
table.Tlarge {
	border-color : #000000;
}
table.Tmiddle {
	border-color : #000000;
}
table.Tsmall {
	border-color : #000000;
}
table.selectTable tr.even {
	background-color: #AAE2A8;
	color : #000000;
}
table.selectTable tr.odd {
	background-color: #C9EDC8;
	color : #000000;
}
table.selectTable td {
	border-bottom-color: #ddd;
	color: #333;
}
.selectContainer {
	border-color: #222;
}
.selectHeader {
	color: #eee;
	background-color: #000;
}
.topmenu {
	font-size : 90%;
	font-weight: bold;
	color : #000000;
	background-color: #d9fdd8;
}
.bottomMenu {
	font-size : 90%;
	color : #000000;
}
.FacetFormTABLE {
	border-color : #000000;
}
.FacetFormHeaderFont {
	color : #000000;
}
.FacetFormHeaderRed {
	color : #FF0000;
	font-size : 100%;
	font-weight : bold;
}
.FacetFieldCaptionTD {
	background-color : #AAE2A8;
	color : #000000;
	font-size : 90%;
}
.FacetFieldCaptionTD-red {
	background-color : #ff5c33;
	color : #000000;
	font-size : 100%;
}
.FacetFieldCaptionTD-blue {
	background-color : #33ccff;
	color : #000000;
	font-size : 100%;
}
.FacetFieldCaptionTD-redlight {
	background-color : #ff9999;
	color : #000000;
	font-size : 90%;
}
.FacetFieldCaptionTD-bluelight {
	background-color : #ccffff;
	color : #000000;
	font-size : 90%;
}

.FacetDataTRstart td {
	border-top-color: white;
}
.FacetDataTRend td {
	border-bottom-color: #FFFFFF;
}
.FacetDataTD {
	background-color : #c9edc8;
	color : #000000;
	font-size : 100%;
}
.dispari {
	background-color : #b8dcb7;
}
.FacetDataTDevidenziaOK {
	background-color : #FFE13C;
	color : #000000;
}
.FacetDataTDevidenziaCL {
	background-color : #00FF3C;
	color : #000000;
}
.FacetDataTDevidenziaBL {
	background-color : #AAAAFF;
	color : #000000;
}
.FacetDataTDevidenziaKO {
	background-color : #FF8888;
	color : #000000;
}
.FacetDataTDsmall {
	/*background-color : #c9edc8;*/
	color : #000000;
	font-size : 90%;
	border-bottom-color:  #fff;
	border-right-color: #fff;
}
.form-control {
	width: 50%;
}
.FacetDataTDsmall a {
	font-size : 90%;
}
.FacetDataTDsmallRed {
	background-color : #c9edc8;
	color : #FF0000;
	font-size : 90%;
}
.FacetDataTDred {
	background-color : #C9EDC8;
	color : #FF0000;
}
.FacetColumnTD {
	color : #000000;
	background-color : #DAEADA;
}
.FacetAltDataTD {
	background-color : #D5F1D4;
	color : #000000;
	font-size : 110%;
}
.FacetSeparatorTD {
}
.FacetFooterTD {
	background-color : #D5F1D4;
	color : #000000;
}
.FacetDisabledTD {
	background-color : #D5F1D4;
	color : #92ac7D;
}
.FacetMainMenu {
	color : yellow;
	background-color: blue;
}
.FacetButton {
	border-color : #000000;
	background-color : #EFEFEF;
	font-size : 100%;
}
.FacetInput {
	border-color : #000000;
	background-color : #FFFFFF;
	font-size : 100%;
}
.FacetTextarea {
	border-color : #000000;
	background-color : #FFFFFF;
	font-size : 100%;
}
.FacetSelect {
	font-size : 100%;
	/*background-color : #C9EDC8;*/
}
.FacetSmall {
	font-size : 90%;
	color : #FF00FF;
}
.FacetText {
	font-size : 90%;
	color : #000000;
}
.FacetSelectBil {
	background-color : #AAE2A8;
	color : #000000;
}
.error {
	color : red;
	font-weight: bold;
	font-size : larger;
}
.error_box {
	border-color: #000000;
}
.ThemeGazieMainItemHover, .ThemeGazieMainItemActive {
	background: url(../../../js/jscookmenu/mainmenubg.png);
}
.ThemeGazieMainItem {
	background-color: #c9edc8;
}
.ThemeGazieMenuItemHover, .ThemeGazieMenuItemActive {
	background-color: #FFEEC2;
}
#admin_main {
}
#admin_welcome {
}
#admin_p_logout {
}

.admin_footer {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.admin_footer:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.nav>li>a:hover, .nav>li>a:focus {
	background-color: #aae2a8;
	color: #123311;
}
.nav>li>ul>li>a:hover, .nav>li>a:focus {
	background-color: #aae2a8;
	color: #123311;
}
.nav>li>ul>li>ul>li>a:hover, .nav>li>a:focus {
	background-color: #aae2a8;
	color: #123311;
}
.nav>li>ul>li>ul>li>ul>li>a:hover, .nav>li>a:focus {
	background-color: #aae2a8;
	color: #123311;
}
.navbar {
	border-color:  #000000;
	font-size : 100%;
}
.nav > li > a {
}
.nav > li > a:hover {
	background-color: #99d197;
}
.nav > li > a.row-menu {
}
.nav > li > a.icon-menu {
}
div.help {
}
.nav-boot {
	background-color : #aae2a8;
	color : #000000;
	font-size : 100%;
}
.nav-first {
}
.nav-mb {
}
.nav-tabs {

}
table.submenu {
}
.navbar-left {
	border-color: #fff;
}
.navbar-lower {
	background-color: #dafed9;
}
div.FacetFormHeaderFont {
}
.vcenter {
	font-size: 100%;
}
input.input-xs {
}
.caret {
	text-color: #fff;
	border-top-color: white !important;
}
/* ******************************************************************************************************** */
.container-fluid {
}
.navbar-collapse {
}
.opzione {
}
.progress {
}
.contenuto-help {
	background: #fff;
	border-color: #ddd;
}
.nav-tabs {
}
.help-text {
	font-size: 100%;
}
.help-text a {
	color: #2b652c;
}
.panel-title {
	vertical-align: middle;
}
.panel-info {
	border-color: #88c086;
}
.panel-info > .panel-gazie {
	background-color: #aae2a8;
	border-color: #88c086;
	color: #123311;
}
#formlogin {
}
#formlogin .form-wrap {
}
.form-logo {
}
.form-main {
	background-color: #77b075;
	border-color: #000;
}
#formlogin h1 {
	color: #1fa67b;
	font-size: 120%;
	font-weight: bold;
}
#formlogin .form-group {
}
#formlogin .checkbox {
}
#formlogin .checkbox.show:before {
	color: #1fa67b;
	font-size: 120%;
	font-family: 'Glyphicons Halflings';
}
#formlogin .checkbox .character-checkbox {
	border-color: #ccc;
}
#formlogin .checkbox .label {
	color: #6d6d6d;
	font-weight: normal;
}
#formlogin .btn.btn-custom {
}
#formlogin .forget {
	font-size: 100%;
}
.panel-help {
	background-color: #dafed9;
}
/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.form-control {
	color: #212121;
}
.btn-custom {
	color: #fff;
	background-color: #99d197;
}
.btn-custom:hover, .btn-custom:focus {
	color: #fff;
}
.btn-edit {
	/*float: right;*/
	background-color: #fa50f8;
}
.btn-cont {
	background-color: #aae2a8;
}
.btn-elimina {
	color: #ff3939;
}
.btn-xml {
	color: #0000ff;
}
.btn.disabled {
	pointer-events: auto;
}
.btn-effetti {
	background-color: #D4CB6A;
}
.btn-riba {
	background-color: #FFF7AA;
}
.btn-fatt {
	background-color: #d4cb6a;
}
.btn-pagamento {
	color: #66aa66;
}
.btn-articolo {

}
.form-inline {
	background-color: #dafed9;
}
.btn-lista {
	/*background-color: #AAE2A8;
	color: #000;*/
}

/** ENRICO FEDELE */
/* Inizio stili custom pper jquery-ui */
/* highlight results */
.ui-autocomplete span.hl_results {
	background-color: #ffff66;
}
/* loading - the AJAX indicator */
.ui-autocomplete-loading {
	background: white url('../../../images/ui-anim_basic_16x16.gif') right center no-repeat;
}
/* scroll results */
.ui-autocomplete {

}
.ui-autocomplete li {
/*font-size: 16px;*/
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
}
/* Fine */
/** ENRICO FEDELE */

/** ENRICO FEDELE */
.container {

}
/* stile per il pulsante di tipo file */
.btn-file {

}
.btn-file input[type=file] {
	filter: alpha(opacity=0);
	opacity: 0;
	background: white;
}
/* fine stile per il pulsante di tipo file */
.navbar-brand > img {
}/*
input[type="text"]:focus, textarea:focus, select:focus {
	border-color: #66afe9;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(26, 77, 25, 0.6);
	outline: 0 none;
}*/
/* highlight results */
.ui-autocomplete span.hl_results {
	background-color: #ffff66;
}
.ui-autocomplete-input {
}
/** ENRICO FEDELE */
.nav {
}
.navbar-toggle {
}
.navbar-right{
}
.usr-picture{
	border-color: #aae2a8;
}

/* andrea biasi */
.custom-tab {
    border-color: #dddddd;
}

.conto_attivo {
    background-color: #88D6FF;
}
.conto_passivo {
    background-color: #D6FF88;
}
.conto_costi {
    background-color: #D688FF;
}
.costo_ricavi {
    background-color: #FFD688;
}
.conto_transitori {
    background-color: #FF88D6;
}