/** Questo è un foglio di stile senza riferimenti ai colori del vecchio default. 
/** nei limiti del possibile sarebbe opportuno usare solo quelli standard di bootstrap
/** eventualmente cercando di modificare i soli colori di jquery-ui 


/**************************************
 GENERICI E SPECIFICI DI GAZIE (gaz-)
***************************************/

body {
	background-image : url("../../../../library/images/gazbw.png");
	color:#000;
}

select:focus, input:focus {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(0, 0, 255, 0.6);
}

/* colori sfondo dropdown contabilità*/
.gaz-attivo {
    background-color: #88D6FF;
}
.gaz-passivo {
    background-color: #D6FF88;
}
.gaz-costi {
    background-color: #D688FF;
}
.gaz-ricavi {
    background-color: #FFD688;
}
.gaz-transitori {
    background-color: #FF88D6;
}



/**************************************
**** BOOTSTRAP & SMARTMENU ************
***************************************/

.navbar-default .navbar-nav > li > a {
    color: #000;
}
.dropdown-menu {
    color: #000;
    background-color: #fff;
}

.dropdown-menu >li >a {
    color: #000;
    background-color: #fff;
}

.form-control {
	color: #000;
}

.btn-elimina {
    color: #ff3939;
}


.btn-edit {
    background-color: #fa50f8;
    color: #000;
}

/**************************************
************** JQUERY UI **************
***************************************/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #ccc;
	color: #000;
	border-style: inset;
}

.ui-state-default:focus,
.ui-widget-content:focus .ui-state-default:focus,
.ui-widget-header:focus .ui-state-default:focus {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(0, 0, 255, 0.6);
}

.ui-state-default:hover,
.ui-widget-content:hover .ui-state-default:hover,
.ui-widget-header:hover .ui-state-default:hover {
    background-color: #f6a828;
}
.ui-widget-content {
    border: 1px solid #dddddd;
    background: none;
    background-color: #fff;
}
.ui-state-default .ui-icon {
    background-image: url("../../../../js/jquery.ui/images/ui-icons_222222_256x240_gazie.png");
}