body {
	background-image : url("../../../../library/images/sfondo.png");
	color:#000;
}
select:focus, input:focus {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(0, 0, 255, 0.6);
}
mark {
    background-color: #ff0;
    padding: 0em;
}
table.Tlarge {
	border-color : #000000;
}
table.Tmiddle {
	border-color : #000000;
}
table.Tsmall {
	border-color : #000000;
}
table.selectTable tr.even {
	background-color: #AAE2A8;
	color : #000000;
}
table.selectTable tr.odd {
	background-color: #C9EDC8;
	color : #000000;
}
table.selectTable td {
	border-bottom-color: #ddd;
	color: #333;
}
.selectContainer {
	border-color: #222;
}
.selectHeader {
	color: #eee;
	background-color: #000;
}

.FacetFormTABLE {
	border-color : #000000;
}
.FacetFormHeaderFont {
	color : #000000;
}
.FacetFormHeaderRed {
	color : #FF0000;
	font-size : 100%;
	font-weight : bold;
}
.FacetFieldCaptionTD {
	background-color : #AAE2A8;
	color : #000000;
	font-size : 90%;
}
.FacetDataTRstart td {
	border-top-color: white;
}
.FacetDataTRend td {
	border-bottom-color: #FFFFFF;
}
.FacetDataTD {
	background-color : #c9edc8;
	color : #000000;
	font-size : 100%;
}
.dispari {
	background-color : #b8dcb7;
}
.FacetDataTDevidenziaOK {
	background-color : #FFE13C;
	color : #000000;
}
.FacetDataTDevidenziaCL {
	background-color : #00FF3C;
	color : #000000;
}
.FacetDataTDevidenziaBL {
	background-color : #AAAAFF;
	color : #000000;
}
.FacetDataTDevidenziaKO {
	background-color : #FF8888;
	color : #000000;
}
.FacetDataTDsmall {
	background-color : #c9edc8;
	color : #000000;
	font-size : 90%;
	border-bottom-color:  #fff;
	border-right-color: #fff;
}
.FacetDataTDsmall a {
	font-size : 90%;
}
.FacetDataTDsmallRed {
	background-color : #c9edc8;
	color : #FF0000;
	font-size : 90%;
}
.FacetDataTDred {
	background-color : #C9EDC8;
	color : #FF0000;
}
.FacetColumnTD {
	color : #000000;
	background-color : #DAEADA;
}
.FacetAltDataTD {
	background-color : #D5F1D4;
	color : #000000;
	font-size : 110%;
}
.FacetSeparatorTD {
}
.FacetFooterTD {
	background-color : #D5F1D4;
	color : #000000;
}
.FacetDisabledTD {
	background-color : #D5F1D4;
	color : #92ac7D;
}
.FacetMainMenu {
	color : yellow;
	background-color: blue;
}
.FacetButton {
	border-color : #000000;
	background-color : #EFEFEF;
	font-size : 100%;
}
.FacetInput {
	border-color : #000000;
	background-color : #FFFFFF;
	font-size : 100%;
}
.FacetTextarea {
	border-color : #000000;
	background-color : #FFFFFF;
	font-size : 100%;
}
.FacetSelect {
	font-size : 90%;
	background-color : #C9EDC8;
}
.FacetSmall {
	font-size : 90%;
	color : #FF00FF;
}
.FacetText {
	font-size : 90%;
	color : #000000;
}
.FacetSelectBil {
	background-color : #AAE2A8;
	color : #000000;
}
.error {
	color : red;
	font-weight: bold;
	font-size : larger;
}
.error_box {
	border-color: #000000;
}

#admin_main {
}
#admin_welcome {
}
#admin_p_logout {
}

.admin_footer {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.admin_footer:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.nav-boot {
	background-color : #aae2a8;
	color : #000000;
	font-size : 100%;
}

.navbar-lower {
	background-color: #dafed9;
}
.vcenter {
	font-size: 100%;
}


/* ******************************************************************************************************** */

.contenuto-help {
	background: #fff;
	border-color: #ddd;
}
.nav-tabs {
}
.help-text {
	font-size: 100%;
}
.help-text a {
	color: #2b652c;
}
.panel-title {
	vertical-align: middle;
}
.panel-info {
	border-color: #88c086;
}
.panel-info > .panel-heading {
	background-color: #aae2a8 !important;
	border-color: #88c086;
	color: #123311;
}

.form-logo {
}
.form-main {
	background-color: #77b075;
	border-color: #000;
}

.panel-help {
	background-color: #dafed9;
}
/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.form-control {
	color: #212121;
}
.btn-custom {
	color: #fff;
	background-color: #99d197;
}
.btn-custom:hover, .btn-custom:focus {
	color: #fff;
}
.btn-edit {
	background-color: #449d44 !important;
	color: #FFFFFF !important;
}
.btn-cont {
	background-color: #aae2a8;
}
.btn-elimina {
	color: #ff3939;
}
.btn-xml {
	color: #0000ff;
}
.btn.disabled {
	pointer-events: auto;
}
.btn-effetti {
	background-color: #D4CB6A;
}
.btn-riba {
	background-color: #FFF7AA;
}
.btn-fatt {
	background-color: #d4cb6a;
}
.btn-pagamento {
	color: #66aa66;
}
.btn-articolo {

}
.form-inline {
	background-color: #dafed9;
}


/** ENRICO FEDELE */
/* Inizio stili custom pper jquery-ui */
/* highlight results */
.ui-autocomplete span.hl_results {
	background-color: #ffff66;
}
/* loading - the AJAX indicator */
.ui-autocomplete-loading {
	background: white url('../../../images/ui-anim_basic_16x16.gif') right center no-repeat;
}

.btn-file input[type=file] {
	filter: alpha(opacity=0);
	opacity: 0;
	background: white;
}
.ui-autocomplete span.hl_results {
	background-color: #ffff66;
}


.gaz-attivo {
    background-color: #88D6FF;
}
.gaz-passivo {
    background-color: #D6FF88;
}
.gaz-costi {
    background-color: #D688FF;
}
.gaz-ricavi {
    background-color: #FFD688;
}
.gaz-transitori {
    background-color: #FF88D6;
}

/**************************************
**** BOOTSTRAP & SMARTMENU ************
***************************************/
.navbar-default .navbar-nav > li > a {
    color: #000;
}
.dropdown-menu {
    color: #000;
    background-color: #fff;
}

.dropdown-menu >li >a {
    color: #000;
    background-color: #fff;
}

.form-control {
	color: #000;
}

.btn-elimina {
    color: #ff3939;
}

.btn-edit {
    float: right;
    background-color: #fa50f8;
    color: #000;
}

.panel-default {
    border-color: #ddd;
    background-color: honeydew;
}

/**************************************
************** JQUERY UI **************
***************************************/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #888;
	color: #000;
	border-style: inset;
}
.ui-state-default:focus,
.ui-widget-content:focus .ui-state-default:focus,
.ui-widget-header:focus .ui-state-default:focus {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(0, 0, 255, 0.6);
}
.ui-widget-content {
    border: 1px solid #dddddd;
    background: none;
    background-color: #fff;
}
.ui-state-default .ui-icon {
    background-image: url("../../../../js/jquery.ui/images/ui-icons_222222_256x240_gazie.png");
}
.row.alternate-row-odd{
  background-color: #eeeeee;
}
.row.alternate-row-even{
  background-color: #cccccc;
}