BODY {
     background-color: white;
}

DIV,TABLE, TH, TR, TD, UL, OL, LI, P, FONT, A, BLOCKQUOTE, LABEL  {
    color : #000000;
}
input {
	background-color: #daf0f8;
}
table {
	background-color: #daf0f8;
}
TABLE.Tlarge{
   border-color : #000000;
}

TABLE.Tmiddle{
    border-color : #000000;
}

TABLE.Tsmall{
   border-color:#000000;
}

TABLE.selectTable TR.even {
	background-color:lightblue;
   color : #000000;
}

TABLE.selectTable TR.odd {
   background-color:#C9EDC8;
   color : #000000;
}

TABLE.selectTable TD {
	border-color:#ddd;
	color:#333;
	font-size:50%;
}

.selectContainer {
	border-color:#222;
}
.selectHeader {
	color:#eee;
	font-weight:bold;
	font-size:60%;
	background-color:#000;
}
		
.topmenu {
    font-size : 70%;
    font-weight: bold;
    color : #000000;
    background-color: #d9fdd8;
}

.bottomMenu {
    font-size : 80%;
    color : #000000;
}

.FacetFormTABLE  {
	border-color:#000000;
}

.FacetFormHeaderFont  {
    color : #000000;
    font-weight : bold;
}

.FacetFormHeaderRed  {
    color : #FF0000;
    font-weight : bold;
}

.FacetFieldCaptionTD  {
    background-color : lightblue;
    color : #000000;
}

.FacetDataTRstart td  {
   border-color: white;

}

.FacetDataTRend td  {
   border-color: #FFFFFF;
}

.FacetDataTD  {
    background-color : white;
    color : #000000;
    /*border-bottom: 1px solid lightgray;*/
}

.FacetDataTDevidenziaOK  {
    background-color : #FFE13C;
    color : #000000;
}

.FacetDataTDevidenziaKO  {
    background-color : #FF0000;
    color : #000000;
}

.FacetDataTDsmall  {
    background-color : #DAF0F8;
    color : #000000;
    font-size : 70%;
}

.FacetDataTDsmallRed  {
    background-color : #DAF0F8;
    color : #FF0000;
    font-size : 70%;
}

.FacetDataTDred  {
    background-color : white;
    color : #FF0000;
	font-size: 100%;
}

.FacetColumnTD  {
    color : #000000;
    background-color : #99C4D2;
	font-size: 100%;
}

.FacetAltDataTD  {
    background-color : #BED2D2;
    color : #000000;
	font-size: 120%;
}

.FacetSeparatorTD  {
	font-size: 100%;
}

.FacetFooterTD  {
    background-color : #BED2D2;
    color : #000000;
	font-size: 100%;
}

.FacetDisabledTD  {
    background-color : #BED2D2;
    color : #92ac7D;
    font-size: 100%;
}

.FacetMainMenu {
    color : yellow;
    background-color: blue;
}

.FacetButton  {
    border-color : #000000;
    background-color : #EFEFEF;
	font-size: 100%;
}

.FacetInput  {
    border-color : #000000;
    font-size : 100%;
}

.FacetTextarea  {
    border-color: #000000;
    background-color : #FFFFFF;
    font-size : 100%;
}

.FacetSelect  {
    font-size : 100%;
    
    background-color : #DAF0F8;
}

.FacetSmall  {
    font-size : 80%;
    color : #FF00FF;
    
}
.FacetText  {
    font-size : 80%;
    color : #000000;
    
}
.FacetSelectBil  {
    background-color : lightblue;
    color : #000000;
    font-size : 80%;
}
.error {
    color : red;
    font-weight: bold;
    font-size : 120%;
}
.error_box {
    border-color: #000000;
}

.ThemeGazieMainItemHover,.ThemeGazieMainItemActive
{
	
}

.ThemeGazieMainItem
{
	background-color:	SKYBLUE;
}
.ThemeGazieMenuItemHover,.ThemeGazieMenuItemActive
{
	background-color:	#FFEEC2;
}

#admin_main{
  background-image: url("../../library/images/sfondo.png");
  background-attachment: fixed;
}

#admin_welcome{

}

#admin_p_logout{

}

#admin_footer{

}

#admin_footer:hover{

}

.nav>li>a:hover,.nav>li>a:focus {
  background-color: lightblue;
  color: #123311;
}
.nav>li>ul>li>a:hover,.nav>li>a:focus {
  background-color: lightblue;
  color: #123311;
}
.nav>li>ul>li>ul>li>a:hover,.nav>li>a:focus {
  background-color: lightblue;
  color: #123311;
}
.nav>li>ul>li>ul>li>ul>li>a:hover,.nav>li>a:focus {
  background-color: lightblue;
  color: #123311;
}
.navbar {
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	font-size : 100%;
}

.nav > li > a {
}

.nav > li > a:hover {
  background-color: #7EB8CB;
}

.nav > li > a.row-menu {
}

.nav > li > a.icon-menu {

}
div.help {
	text-align: justify;
}
.nav-boot {
  background-color : lightblue;
  color : #000000;
  font-size : 100%;
}
.nav-first {

}
.navbar-brand {
   font-size : 140%;
}
.nav-tabs {
}
table.submenu {
}
.navbar-left {
	border-color: #fff;
}

.form-inline {
	background-color: #5190A5;
}
.navbar-lower {
  background-color: #5190A5;
}
div.FacetFormHeaderFont {
}

.vcenter {
}
input.input-xs {
   font-size : 90%;
}
.caret {
	text-color: #fff;
	border-top-color: white !important;
}

.container-fluid {
	
}
.navbar-collapse {
}
.opzione {

}
.progress {

}
.navbar-toggle {

}
.contenuto-help {
	background: #fff;
    border-color: #ddd;
}
.nav-tabs {
}
.nav-tabs > li > a {
	
}

.help-text {
	font-size: 100%;
}

.help-text a {
	color: #5190A5;
	text-transform: uppercase;
}
/*    --------------------------------------------------
	:: Login Section
	-------------------------------------------------- */

.panel-title {
	vertical-align: middle;
}
.panel-info {
	border-color: #88c086;
}
.panel-info > .panel-gazie {
	background-color: lightblue;
   border-color: #88c086;
	color: #123311;
}
#formlogin {
}
#formlogin .form-wrap {

}
.form-logo {

}
.form-main {
	background-color: #77b075;
	border-color: #000;
}
#formlogin h1 {
    color: #1fa67b;
    font-size: 140%;
    text-align: center;
    font-weight: bold;
}
#formlogin .form-group {

}
#formlogin .checkbox {

}
#formlogin .checkbox.show:before {
    color: #1fa67b;
    font-size: 150%;
    font-family: 'Glyphicons Halflings';
}
#formlogin .checkbox .character-checkbox {
    border-color: #ccc;
}
#formlogin .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#formlogin .btn.btn-custom {
    font-size: 14px;
}
#formlogin .forget {
    font-size: 13px;
	text-align: center;
}
.panel-help {
  background-color: #7EB8CB;
}
/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.form-control {
   color: #212121;
}
.btn-custom {
   color: #fff;
	background-color: #99d197;
}
.btn-custom:hover,
.btn-custom:focus {
   color: #fff;
}
.usr-picture {
	border:4px solid lightblue;
}