/* 
**    selezione articolo in inserimento documenti
*/

/* tolgo il padding nella selezione articoli in inserimento documenti */
.form-group.col-xs-12.col-sm-6.col-md-3 {
    padding-left: 5px;
    padding-right: 5px;
}
.row.first_row {
    padding-top: 5px;
}
.panel.panel-info.div-bordered {
    margin-bottom: 5px;
}


/*
**    homepage
*/

/* l'altezza dei pannelli in dashboard deve essere uguale per tutti*/
[id^=position-] .panel {
    min-height: 310px; 
}
/* aggiungo un po di spazio tra i pannelli della dash*/
[id^=position-] {
    padding: 10px 10px 10px 10px;
}

.panel-corpo
{
    padding-top: 20px;
    padding-bottom: 30px;
}

/* 
**    tabelle di report 
*/

.table {
    margin-bottom: 0px;
}


/*
**    inserimento articoli in magazzino
*/

.col-sm-4.control-label {
    text-align: right;
    vertical-align: middle;
}
div.col-md-12 div.form-group div.col-sm-8 {
    padding-left: 0px;
}
.FootElementi
{
    text-align: center;
}

/*
**  tabelle di selezione pagina
*/

.nav-pills 
{
    margin-left: 10px;
    margin-right: 10px;
}
div .panel.panel-default 
{
    padding-top: 30px;
    padding-bottom: 50px;
}
.form-group
{
    margin-bottom: 0px;
}
#home > div
{
    margin-bottom: 4px;
}
#commer > div
{
    margin-bottom: 4px;
}
#magazz > div
{
    margin-bottom: 4px;
}
#contab > div
{
    margin-bottom: 4px;
}
#chifis > div
{
    margin-bottom: 4px;
}

ul.nav.nav-pills li input.btn.btn-warning
{
    height: 43px;
}

select#banapp {
    width: 170px;
}

select#expense_vat {
    width: 170px;
}

select#in_codric {
    width: 220px;
}

select#in_tiprig {
    width: 198px;
}

input#search_cosear {
    width: 190px;
}
input#in_quanti {
    width: 175px;
}

select#in_codvat {
    width: 170px;
}

select#in_codric {
    width: 165px;
}