body {
	background-image : url("../../library/images/sfondo.png");
	color : #000;
}

div, table, th, tr, td, ul, ol, li, p, font, a, blockquote, label {
}

table {
}

table.Tlarge {
}

table.Tmiddle {
}

table.Tsmall {
}

table.selectTable tr.even {

}
table.selectTable tr.odd {

}
table.selectTable td {

}
.selectContainer {

}
.selectHeader {

}
.topmenu {

}

.bottomMenu {
}
.FacetFormTABLE {
}

.FacetFormHeaderFont {

}
.FacetFormHeaderRed {

}
.FacetFieldCaptionTD {

}
.FacetDataTRstart td {

}
.FacetDataTRend td {

}
.FacetDataTD {

}
.dispari {

}
.FacetDataTDevidenziaOK {

}
.FacetDataTDevidenziaCL {

}
.FacetDataTDevidenziaBL {

}
.FacetDataTDevidenziaKO {

}
.FacetDataTDsmall {

}
.FacetDataTDsmall a {
}
.FacetDataTDsmallRed {

}
.FacetDataTDred {

}
.FacetColumnTD {

}
.FacetAltDataTD {

}
.FacetSeparatorTD {
}
.FacetFooterTD {

}
.FacetDisabledTD {

}
.FacetMainMenu {

}
.FacetButton {

}
.FacetInput {

}
.FacetTextarea {

}
.FacetSelect {

}
.FacetSmall {
}
.FacetText {
}
.FacetSelectBil {

}
.error {

}
.error_box {

}
.ThemeGazieMainItemHover, .ThemeGazieMainItemActive {
}
.ThemeGazieMainItem {

}
.ThemeGazieMenuItemHover, .ThemeGazieMenuItemActive {

}

#admin_main {

}
#admin_welcome {

}
#admin_p_logout {

}
#admin_footer {
}
#admin_footer:hover {

}
.nav>li>a:hover, .nav>li>a:focus {

}
.nav>li>ul>li>a:hover, .nav>li>a:focus {

}
.nav>li>ul>li>ul>li>a:hover, .nav>li>a:focus {

}
.nav>li>ul>li>ul>li>ul>li>a:hover, .nav>li>a:focus {

}
.navbar {

}
.nav > li > a {

}
.nav > li > a:hover {

}
.nav > li > a.row-menu {

}
.nav > li > a.icon-menu {

}
div.help {

}
.nav-boot {

}
.nav-first {

}

.nav-mb {

}
.nav-tabs {

}
table.submenu {

}
.navbar-left {

}
.navbar-lower {

}
div.FacetFormHeaderFont {

}

.vcenter {

}
input.input-xs {

}
.caret {

}
.container-fluid {

}
.navbar-collapse {

}
.opzione {

}
.progress {

}

.contenuto-help {

}
.nav-tabs {

}
.help-text {

}
.help-text a {

}
/*    --------------------------------------------------
	:: Login Section
	-------------------------------------------------- */

.panel-title {

}
.panel-info {

}
.panel-info > .panel-gazie {

}
#formlogin {

}
#formlogin .form-wrap {

}
.form-logo {

}
.form-main {
}
#formlogin h1 {

}
#formlogin .form-group {

}
#formlogin .checkbox {

}
#formlogin .checkbox.show:before {

}
#formlogin .checkbox .character-checkbox {

}
#formlogin .checkbox .label {

}
#formlogin .btn.btn-custom {

}
#formlogin .forget {

}
.panel-help {
/*	background-color: #dafed9;*/
}
/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.form-control {

}
.btn-custom {

}
.btn-custom:hover, .btn-custom:focus {
}
.btn-edit {

}
.btn-cont {
}
.btn-elimina {

}
.btn-xml {

}
.btn.disabled {

}
.btn-effetti {
}
.btn-riba {
}
.btn-fatt {
}
.btn-pagamento {
}
.btn-articolo {
}
.form-inline {
}
.conto_attivo {
}
.conto_passivo {
}
.conto_costi {
}
.costo_ricavi {
}
.conto_transitori {
}