/*********************** FOGLIO DI STILE DELLA STRUTTURA *************************/
/*********************** STRUCTURE STYLESHEET ************************************/



/**************************************
************ GENERICI *****************
***************************************/

body {
    /* impostare qua la dimensione dei caratteri*/
    font-size: 14px;
	padding-bottom: 70px;
}

input, select {
    border-radius: 4px;
}

input[type=number] {
    text-align:center;
}

.usr-picture {
    width: 150px;
    box-shadow: 0 0 5px 5px;
    border-radius: 48%;
}

mark {
    background-color: #ff0;
    padding: 0em;
}

#loader-icon {
    position:fixed;
    left: 50%;
    bottom: 1%;
    display: none;
}

.gaz-nav {
    min-width: 3000px;
}

.gaz-body {
    padding-top: 5px;
}


/**************************************
********** GAzie OLD STYLE ************
***************************************/

.FacetSelect {
    font-size: 80%;
}

table.Tlarge {
    border : solid 1px;    
}

table.Tmiddle {
    width : 70%;
    border : solid 1px;
    margin-left: auto;
    margin-right: auto;
}

table.Tsmall {
    width : 50%;
    border : solid 1px;
    margin-left: auto;
    margin-right: auto;
}
.FacetFormTABLE {
    border : solid 1px;
}

.FacetFormHeaderFont {
    font-weight : bold;
}

.FacetFormHeaderRed {
    font-weight : bold;
}

.FacetFieldCaptionTD {
    padding: 0px 3px 0px 5px;
}

.FacetDataTRstart td {
    border-top: 2px solid;
}

.FacetDataTRend td {
    border-bottom: 5px solid;
}

.FacetDataTD {
    margin: 2px 2px;
    padding: 2px 5px 2px 5px;
}

.FacetDataTDsmall {
    border-bottom: 1px solid;
    border-right: 1px solid;
}

.FacetAltDataTD {
    font-size : 110px;
}

.FacetSeparatorTD {
    font-size : 85%;
}

.FacetButton {
    border-left : 1px solid #000000;
    border-right : 1px solid #000000;
    border-top : 1px solid #000000;
    border-bottom : 1px solid #000000;
}

.FacetInput {
    border-bottom : 1px solid #000000;
    border-left : 1px solid #000000;
    border-right : 1px solid #000000;
    border-top : 1px solid #000000;
}

.FacetTextarea {
    border-bottom : 1px solid #000000;
    border-left : 1px solid #000000;
    border-right : 1px solid #000000;
    border-top : 1px solid #000000;
}



/**************************************
**** BOOTSTRAP & SMARTMENU ************
***************************************/

.navbar {
    margin-bottom: 1px;
    min-height:20px;
}

.navbar-default {
    background-color: transparent;
}

.navbar-header {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 95%;
    display: table-cell;
}

.navbar-collapse,
.container-fluid > .navbar-collapse {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}
.navbar-collapse {
    overflow-x: no-content;
    -webkit-overflow-scrolling: none;
}

.btn-toolbar {
    padding-left: 65%;
}

.navbar-nav {
    margin: 0px 0px;
    padding-left: 0px;
    display: table-cell;
}

.dropdown-menu > li > a {
    font-size: 90%;
}

.navbar-nav > li > a {
    padding: 3px 0px 2px 5px;
    line-height: 2;
    height: 36px;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.nav-mb {
    min-height: 0px;
}

.form-horizontal .form-group .form-control, 
.form-horizontal .form-group div select,
.form-horizontal .form-group select { 
    margin: 2px 0px 0px 0px;
    padding: 2px 2px 2px 2px;
}

.form-horizontal .form-group .text-left,
.form-horizontal .form-group label { 
    margin: 3px 0px 0px 0px;
    padding: 2px 2px 2px 2px;
    font-size: 80%;
}


.form-control {
    height: 24px;
}

.form-group {
    margin-bottom: 7px;
}

.container-fluid > .navbar-header {
    margin-right: 0px;
    margin-left: 0px;
    height: 36px;
}

.form-horizontal .form-group {
    margin-right: -10px;
    margin-left: 0px;
}

.container-fluid {
    padding-right: 1px;
    padding-left: 1px;
    margin-right: auto;
    margin-left: auto;
}

.form-horizontal .form-group > div {
    padding-right: 1px;
    padding-left: 1px;
}

.btn {
    padding: 3px 2px 3px 2px;
    white-space: normal;
}

.row {
    padding: 2px 3px 2px 3px;
    margin-right: 0px;
}

.navbar-toggle {
    float: left;
    margin-top: 0px;
    margin-right: 3px;
    margin-bottom: 0px;
    background-color: #eee;
}

.navbar-toggle > img {
    margin-top: 0px;

}

.navbar-nav.sm-collapsible .caret, .navbar-nav.sm-collapsible ul .caret {
    position: relative;
    float: right;
    margin: 2px 2px 0 0;
}

.navbar-nav.sm-collapsible{
    background-color: #fff;
}

.navbar-fixed-top .navbar-collapse {
    max-height: 100%;
}

.nav > li > a {
    padding: 2px 6px;
}

.table > tbody > tr > td, 
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > thead > tr > th {
    padding: 1px;
}

.table,
.zero-padding {
    padding: 0px;
    margin: 0px;
}

.table-condensed > tbody > tr > td,
.table-condensed > thead > tr > th {
    padding: 2px;
}

.gaz-home-scadenze {
    min-height: 260px;
}
#fornitori span {
    display:none; 
}
#clienti span {
    display:none; 
}

@media only screen and (max-width: 991px) {
    /* Force table to not be like tables anymore */
    #gaz-responsive-table table,
    #gaz-responsive-table thead,
    #gaz-responsive-table tbody,
    #gaz-responsive-table th,
    #gaz-responsive-table td,
    #gaz-responsive-table tr {
        display: block;
    }
    #gaz-responsive-table table{
        padding: 2px;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    #gaz-responsive-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #gaz-responsive-table tr { border: 1px solid #ccc; }

    #gaz-responsive-table td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    #gaz-responsive-table td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    #gaz-responsive-table td:before { content: attr(data-title); }

    .gaz-table-form .form-group {
        background-color: rgba(0, 0, 0, 0.04);
    }
}

.gaz-table-form {
    max-width: 990px;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.gaz-table-form .form-group {
    border-top:1px solid #ddd;
}

.gaz-table-form .form-group > label {
    background-color: rgba(0, 0, 0, 0.04);
}


/**************************************
************** JQUERY UI **************
***************************************/

.ui-widget { 
    font-size: 12px; 
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 0px;
    border-radius: 4px;
    font-weight: normal;
    background: none;
}
.ui-selectmenu-button span.ui-selectmenu-text {
    padding: 3px 3px 3px 3px;
    line-height: 1;
}