body {
	background-color: #fff;
	color: #000;
}

.contenuto-help {
   background-color: #fff;
}

.control-label {
   /*background-color: #aae2a8;*/
}
.dropdown-menu {
    border-color: #000;
}
.FacetFieldCaptionTD {
    background-color: #aae2a8;
    color: #000;
}
th {
    background-color : #aae2a8;
}
th a {
    color: #000;
}
th a:hover {
    color: #eee;
}
.FacetColumnTD {
    background-color: #daeada;
    color: #000;
}
div.table-responsive, table.FacetFormTABLE, table.GazFormDeleteTable, table.table-bordered, div.div-bordered {
	border: 1px solid #5f7a56;
	border-radius: 4px;
}
.FacetDataTD {
    background-color: #b9e3a2;
}
.content-wrapper {
    background-image: url("../../../../library/images/sfondo.png");
}
.Tlarge {
    border: 1px solid #000000;
}
.Tmiddle {
    border: 1px solid #000000;
}

.logo-lg {
    font-size: 14px;
}
.FacetFormTABLE {
    border: 1px solid #000000;
}
.FacetFormHeaderFont {
}
#preventDuplicate {
    color: #000;
}
.sidebar-menu .treeview-menu > li > a {
    padding-left: 15px;
}
div.th {
	background: #aae2a8;
	border: 1px solid #000;
	border-bottom: 0px;
}
.left {
	border-right: 0px;
}
.right {
	border-left: 0px;
}
.lateral {
    background-color: #000;
}
.FacetDataTDred
{
  color: #f00;
  font-weight: bold;
  background-color: #aae2a8;
  margin-bottom: 10px;
}
.breadcrumb > li + li::before {
    padding: 0 5px;
    color: #FFC0CB;
    content: "/\00a0";
}
.content-header > .breadcrumb > li > a:hover {
    color: #000;
}
html body.skin-blue.sidebar-mini.sidebar-collapse form div.wrapper header.main-header nav.navbar.navbar-static-top div.navbar-custom-menu ul.nav.navbar-nav li.dropdown.user.user-menu.open ul.dropdown-menu li.user-footer div.pull-right input.btn.btn-default.btn-flat {
    height: 34px;
    width: 65px;
}
.row.alternate-row-odd{
  background-color: #eeeeee;
}
.row.alternate-row-even{
  background-color: #cccccc;
}

.content-header > .breadcrumb {
    background: transparent;
    background: #ccf4ca;
}

.btn-effetti {
    background-color: #D4CB6A;
    color : #000;
}
.gaz-attivo {
    background-color: #88D6FF;
}
.gaz-passivo {
    background-color: #D6FF88;
}
.gaz-costi {
    background-color: #D688FF;
}
.gaz-ricavi {
    background-color: #FFD688;
}
.gaz-transitori {
    background-color: #FF88D6;
}
td.ui-datepicker-other-month>a.ui-state-default.ui-priority-secondary{
	color: #034802;
	background: #ccccff;
}

.FacetSelect#search_cosear {
    background: #eeccbc;
}
.FacetDataTDsmall#in_tiprig {
    background: #eeccbc ;
}
#in_quanti {
    background: #eeccbc ;
}

.gaz-table-form {
    background-color: #aae2a8;
}


.btn-avvisare 
{
    background-color: #FF88D6;
    color: #444;
    border-color: #ddd;
}

.btn-bloccato
{
    background-color: #f44;
    color: #444;
    background-color: #ddd;
}

.btn-aperto
{
    background-color: #FFD688;
    color: #444;
    border-color: #ddd;
}

.btn-effettuato
{
    background-color: #88D6FF;
    color: #444;
    background-color: #ddd;
}


/*
    tabelle di selezione pagina
*/
.nav-pills > li 
{
    border-top: 1px solid #222d32;
    border-left: 1px solid #222d32;
    border-right: 1px solid #222d32;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover
{
    background-color: #99d197;
    color: #000;
    border-top: 3px solid #99d197;
}

.panel .panel-default .gaz-table-form
{
    border: 1px solid #5f7a56;
    border-radius: 4px;
}